
.login {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #16213e, #0f3460);
}

.login h1 {
    font-size: 40px;
    color: #2ec4ff;
    margin-bottom: 10px;
}

.login p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    background: #0f3460;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #2ec4ff;
    margin-top: 10px;
}

input {
    width: 95%; 
    max-width: 400px; 
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: #16213e;
    color: white;
    display: block;
    margin-left:0cm;
    margin-right: 0cm;
    
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(-1deg, #2ec4ff,#0f3460, #ff3b5c);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-family: 'Fredoka One', cursive;
}

button:hover {
    background: #2ec4ff;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #e94560;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #2ec4ff;
}

#login-message {
    margin-top: 20px;
    font-size: 18px;
    color: #2ecc71;
}

.hidden {
    display: none;
}


.signup-link {
    margin-top: 15px;
    font-size: 16px;
    color: #ffffff;
}

.signup-link a {
    color: #e94560;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    color: #2ec4ff;
}
